<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-9 mb-4">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, perferendis.</h1>
                <p class="time-zone"><i class="fa-regular fa-clock me-2"></i>published 11.00am ,wed february 7 /2024</p>
            </div>
            <div class="col-md-3 mb-4 d-none d-lg-block"></div>
            <div class="col-lg-9 col-md-8 mb-4">
                <div class="border-1 border-bottom border-custom pb-2">
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/10-ramchandra-khadka-praying.jpeg?c=16x9&q=h_720,w_1280,c_fill"
                        width="100%" alt="new">
                    <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae in quisquam nesciunt totam
                        soluta, exercitationem numquam reiciendis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4 more">
                <div class="border-top border-1 border-custom pt-2">
                    <h6>More From Eye News</h6>
                    <div class="d-flex align-items-center gap-2 mt-4 border-bottom border-1 border-custom pb-4">
                        <div class="col col-lg-4">
                            <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-1831281682.jpg?c=16x9&q=h_720,w_1280,c_fill"
                                width="100%" alt="new">
                        </div>
                        <div class="col col-lg-8">
                            <p class="limit m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Molestias,
                                fugit
                                veritatis doloremque quia sed quasi suscipit vitae tempore harum. Ullam delectus
                                impedit
                                hic
                                quam dicta molestiae beatae tenetur, tempora blanditiis labore molestias, itaque
                                dolores
                                illum eveniet possimus voluptate! Tenetur quam at impedit velit, exercitationem unde
                                aperiam
                                aspernatur vitae nisi harum mollitia porro nesciunt architecto ratione eos nobis!
                                Ipsam,
                                explicabo corporis?</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 mt-4 border-bottom border-1 border-custom pb-4">
                        <div class="col col-lg-4">
                            <img src="https://media.cnn.com/api/v1/images/stellar/prod/2024-01-12t122712z-2045880872-rc28g5axhyem-rtrmadp-3-ukraine-crisis-syrskyi.jpeg?c=16x9&q=h_720,w_1280,c_fill"
                                width="100%" alt="new">
                        </div>
                        <div class="col col-lg-8">
                            <p class="limit m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Molestias,
                                fugit
                                veritatis doloremque quia sed quasi suscipit vitae tempore harum. Ullam delectus
                                impedit
                                hic
                                quam dicta molestiae beatae tenetur, tempora blanditiis labore molestias, itaque
                                dolores
                                illum eveniet possimus voluptate! Tenetur quam at impedit velit, exercitationem unde
                                aperiam
                                aspernatur vitae nisi harum mollitia porro nesciunt architecto ratione eos nobis!
                                Ipsam,
                                explicabo corporis?</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 mt-4 border-bottom border-1 border-custom pb-4">
                        <div class="col col-lg-4">
                            <img src="https://media.cnn.com/api/v1/images/stellar/prod/240122144011-04-us-armor-ukraine.jpg?c=16x9&q=h_720,w_1280,c_fill"
                                width="100%" alt="new">
                        </div>
                        <div class="col col-lg-8">
                            <p class="limit m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Molestias,
                                fugit
                                veritatis doloremque quia sed quasi suscipit vitae tempore harum. Ullam delectus
                                impedit
                                hic
                                quam dicta molestiae beatae tenetur, tempora blanditiis labore molestias, itaque
                                dolores
                                illum eveniet possimus voluptate! Tenetur quam at impedit velit, exercitationem unde
                                aperiam
                                aspernatur vitae nisi harum mollitia porro nesciunt architecto ratione eos nobis!
                                Ipsam,
                                explicabo corporis?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="text-center">
                    <p class="col col-lg-9 mx-auto"><span class="me-2">Lorem ipsum dolor (sit amet)
                            <cite>&nbsp;—&nbsp;</cite></span>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit.
                        Ea recusandae nesciunt magni. Mollitia atque corporis, possimus neque minus aspernatur odio
                        necessitatibus animi dolorum, cupiditate debitis in vel blanditiis consequuntur exercitationem
                        velit distinctio delectus quos nam ullam. <br><br> Iste dolore praesentium animi voluptatibus
                        deleniti
                        maxime officiis accusantium vel laudantium, quo enim, dolorum, sed quia voluptatem totam
                        laboriosam debitis perspiciatis quam minus quod sapiente ullam? Deserunt odit blanditiis
                        cupiditate quia quos, eaque temporibus. Molestiae incidunt impedit itaque aut consectetur ipsum,
                        atque alias, rem commodi reiciendis, <br><br> similique sapiente nihil cumque fugiat! Tempora
                        alias
                        quibusdam nesciunt esse voluptate mollitia quas, et nam, tenetur aliquid fugit quisquam suscipit
                        laborum nulla, saepe pariatur quod ratione sapiente commodi vero. <br><br> Nam iste laboriosam
                        sit
                        dolorem, quidem amet nulla! Ipsa facilis similique fuga incidunt debitis fugiat nisi alias. Amet
                        nihil, mollitia velit rem unde, vitae ipsa suscipit officiis ab tenetur adipisci, optio enim id
                        nobis pariatur iste voluptatibus harum recusandae saepe deleniti! Repellat ullam explicabo quos
                        quaerat ipsa reprehenderit a nihil cupiditate molestias architecto? Modi perferendis autem, eum
                        nesciunt, <br><br> maxime quae provident fuga repellat architecto fugit unde natus aut harum
                        temporibus
                        necessitatibus delectus minima itaque cum libero! Est aliquam iste rerum consectetur veniam.
                        Libero quae perspiciatis exercitationem voluptatem odit vero eum dolores eveniet. Placeat non
                        minima repellat aspernatur? Doloremque aliquid delectus, amet, <br><br> sed illum voluptate nam
                        molestiae
                        sint quia architecto nobis soluta in reiciendis iure iusto accusamus consequatur? Nostrum
                        aliquam tempora officia repellat blanditiis ratione quibusdam fuga sunt recusandae accusamus
                        quod doloremque voluptatem exercitationem, <br><br> minus ducimus voluptate facilis! Nesciunt
                        reprehenderit, voluptates sed voluptas, deleniti officia sequi aliquam ut facere provident natus
                        architecto ipsam eveniet? Natus neque fuga inventore incidunt. Blanditiis saepe aspernatur
                        beatae. Adipisci ipsam maiores molestiae nisi. Laborum quisquam porro, iusto velit eveniet non
                        error quia minus fuga nesciunt nihil nam. <br><br> Excepturi iste illum cumque ea nobis quasi
                        eius error
                        enim blanditiis pariatur, rerum totam in minus quis cupiditate eveniet quod voluptas nihil ipsam
                        optio accusantium ipsa laboriosam. Voluptates quasi libero tempore, ut, vitae vero quaerat
                        veniam exercitationem neque non rem placeat id beatae ab porro cum ea quibusdam ipsam eligendi
                        quas. Nulla illum ut officiis rerum cumque, optio sint porro, repellendus adipisci in omnis?
                        Laborum eum, dicta, <br><br> placeat incidunt sit odit molestiae quidem cum similique minima,
                        minus enim
                        repellendus nobis nemo fuga et. Cumque asperiores cupiditate delectus, maxime cum velit! Minima
                        molestiae, dignissimos nulla quisquam esse aspernatur corporis rem! Maxime tempore, soluta nulla
                        nostrum earum enim voluptatum quas at quis consectetur minima iure repellendus voluptates
                        reiciendis illo dolor est ducimus repudiandae fugit quae ex! Ducimus qui deleniti, <br><br> eum
                        molestiae
                        odit non dignissimos quos modi sit facilis, numquam esse quae labore possimus neque aliquid
                        error quidem blanditiis distinctio fugiat quam. Voluptates tenetur et rem harum nisi. Laborum,
                        ut? Et cum dolor enim asperiores sapiente eos porro deleniti modi doloribus fugiat totam
                        aspernatur, quaerat odio veniam reiciendis, dolorum molestias commodi. Consequatur at, soluta
                        optio quasi corrupti repellendus ea aut voluptatibus expedita dolores sit autem hic placeat sunt
                        animi necessitatibus, officia voluptatum eum voluptate ab rerum eaque id ullam. Possimus fugit
                        excepturi nihil esse pariatur delectus id aperiam, <br><br> rerum quis sint totam nostrum
                        mollitia
                        repudiandae saepe beatae! Nemo doloremque nostrum dolore molestias quod culpa deleniti.
                        Consequuntur molestiae, repudiandae ipsa ullam blanditiis exercitationem incidunt adipisci
                        quibusdam! Illo fugit accusantium delectus soluta rerum! Harum quis sed quaerat officiis et
                        reiciendis sapiente, itaque rerum molestiae ea sequi obcaecati a. Itaque optio alias dolores
                        incidunt veniam iste explicabo sed, velit iure exercitationem maiores aperiam eveniet corporis
                        vel fugit asperiores, <br><br> magnam, unde tempore mollitia ut! Animi nisi eligendi, dicta
                        mollitia
                        delectus at nesciunt ea adipisci ipsam! Consequatur enim voluptatum dolore iusto libero, at hic,
                        perspiciatis nostrum eum iste ea iure impedit, ipsum fuga amet fugiat animi in veritatis beatae
                        aspernatur necessitatibus tempore suscipit! Deleniti et inventore nam velit est nemo nesciunt.
                        Esse ex minima eveniet fugiat perferendis distinctio illum magni. <br><br> Itaque ratione vitae
                        provident
                        animi reiciendis eius quos consectetur sed totam saepe quam molestias fuga nisi quod illum in,
                        fugiat, nobis odit enim. Neque ullam ex facere inventore ratione eos. Quam molestias quasi amet,
                        ducimus ut maiores deleniti eum. Autem at vitae tempora natus expedita voluptatibus quis enim,
                        nostrum impedit nulla vero a sequi asperiores? Voluptatibus mollitia aut assumenda dicta
                        corporis autem rem nesciunt accusantium. Explicabo, maiores commodi id labore, fugiat deleniti
                        perferendis nisi veniam facere fugit perspiciatis est veritatis incidunt quo vitae nesciunt
                        reprehenderit libero provident, <br><br> minima nobis dolore voluptate? Vitae quo quis
                        laudantium
                        distinctio nostrum deserunt, odit modi dolore dicta amet reiciendis consequatur unde expedita
                        explicabo itaque inventore quos porro rerum blanditiis commodi! Nesciunt voluptatem iste vitae,
                        culpa nulla voluptatibus commodi totam voluptatum dicta pariatur ullam quasi corrupti, odio quis
                        a ut inventore sunt et laudantium eum accusamus. Tenetur, aut vitae quasi eius sint voluptatem
                        enim vel optio quaerat inventore deleniti voluptatum est exercitationem iusto quisquam
                        aspernatur maxime ad odio doloribus! Ut iste architecto ipsum distinctio nobis nemo sit minus
                        vero cupiditate dolor et eius saepe illum quod ex porro hic repudiandae, <br><br> dolore est ab
                        voluptates odio! Vel consequatur repudiandae minima. Aut, dicta! Praesentium veritatis eaque quo
                        autem incidunt ex! Eligendi nam aut vitae incidunt at natus voluptatum consequatur ducimus
                        dolores possimus maxime assumenda magnam expedita, ab doloribus quibusdam dolorum corporis ipsa
                        placeat ut commodi dolore itaque nesciunt distinctio? Fuga beatae quibusdam odio sint
                        perspiciatis esse consequuntur provident a, <br><br> dolore aliquam totam minus, illo eaque modi
                        labore
                        quaerat ullam nobis iure? Aliquam nulla earum, illum placeat iure beatae asperiores dolorem ut
                        voluptas quae! Voluptate iste impedit quisquam, earum ab tempore officia consequuntur maiores
                        provident eligendi culpa! Voluptatum beatae autem, officiis numquam itaque neque sed ipsum amet
                        incidunt quis delectus expedita dignissimos earum, <br><br> vel placeat aut animi, praesentium
                        molestias.
                        Libero, et dolores numquam quia similique dolorum perferendis deleniti excepturi veritatis ab.
                        Impedit eligendi expedita eum odio fugit architecto totam porro neque aspernatur hic sint ex
                        cupiditate rerum sed eos, consectetur quisquam quaerat. <br><br> Odit accusamus quo est ex
                        possimus
                        nostrum id adipisci! Dolor ipsam aspernatur maiores dolorum veritatis. Expedita numquam
                        aspernatur laborum hic, laudantium beatae odio impedit! Quas eaque sequi vitae consequatur, at
                        molestiae provident quia!</p>
                </div>
            </div>
            <div class="col-md-3 mb-4 d-none d-lg-block"></div>
        </div>
    </div>
</section>